/* You can add global styles to this file, and also import other style files */
:root {
  --primary: #2563EB;
  --secondary: #1E293B;
  --accent: #38BDF8;
  --background: #F1F5F9;
  --card: #FFFFFF;
  --success: #22C55E;
  --danger: #EF4444;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--background);
}
.main{
  margin-left:220px;
  margin-top:60px;
  padding:30px;
  min-height:calc(100vh - 60px);
  background:#f1f5f9;
}